/* ========= TABS HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS */
h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #001848;
    font-weight: 600;
}

ion-grid {
    --ion-grid-padding: 0px !important;
}


.light {
    background: #fff;
    padding-bottom: 10%;
}

body {
    background: #ddd;
}

ion-icon {
    font-size: 30px;
    margin-top: 20px;
    color: #001848;
}

.img-avatar {

    width: 35%;
}

h3 {
    color: #001848 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.title-card {
    padding-left: 5%;
    font-size: 16px;
    font-weight: 700;
}

.txt-card {
    padding-left: 5%;
}

p {
    color: #001848 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.icon-one {
    color: #fff !important;
    font-size: 20px !important;
    margin-top: -2%;
}

.btn-swap {
    padding-right: 20px;
}

.btn-card {
    padding-left: 0px !important;
    margin-top: 20%;
}

#col-challenges {}

h5 {
    margin-top: 34px !important;
    font-family: "Poppins" !important;
}

.p-txt-chall {
    font-family: "Poppins";
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #9b9da5 !important;
    padding-top: 5%;
}

.h2-chall {
    color: #001848;
    font-family: "Poppins";
    text-align: left;
    padding-left: 4%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-weight: 800;
}

.col-dos {
    padding-top: 10%;
    background: #fff;
    padding: 5%;
}

.img-chall {
    display: block;
    margin: 0px auto;
    width: 100%;
}

.ion-col-chall {
    display: block;
    margin: 0px auto;
}

:host {

    ion-button {
        margin-top: 15%;
        --background: #001848 !important;
        --background-activated: #fff !important;
        --color-activated: #001848 !important;
        --border-color: #001848 !important;
        font-family: "Poppins" !important;
    }

    .list-ios {
        border: 1px solid #fff !important;
        border-radius: 10px;
    }

    ion-item {
        --border-color: #fff !important;
    }
}

/* ========= TABS HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS */