<!-- ========= TABS3 HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->
<ion-content scrollX="true" scrollY="true" color="medium">
  <ion-row class="light">
    <ion-col size="10">
      <div>
        <h1>{{ data.name }}</h1>
      </div>
    </ion-col>
    <ion-col size="2">
      <div>
        <ion-icon name="person" slot="start"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row class="col-uno">
      <ion-col size="12" style="text-align: center;">
        <img src="https://img.icons8.com/bubbles/50/000000/user.png" class="img-profile" />
        <ion-label>
          <p class="p-txt-email">{{ data.phone }}</p>
          <h3 class="p-txt-email">{{ data.email }}</h3>

          <ion-col size="12">
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
          </ion-col>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="col-uno">
      <ion-col size="12">
        <h1 class="friend-h1">Additional information</h1>
      </ion-col>
      <ion-col size="12">
        <div>
          <p class="bo-profile">Ubication: <br>{{ data.address }} </p>
          <p class="bo-profile-red">Balance: <br>{{ data.credit_challenge }} </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="col-dos">
      <ion-col size="12">
        <h1 class="friend-h1">Friends</h1>
      </ion-col>
      <div>
        <ion-row>
          <ion-col size="4" *ngFor="let entry of data.friends; index as i;">
            <ion-avatar class="col-tres">
              <img src="https://img.icons8.com/color/50/000000/user-female-skin-type-1-2.png" class="pic-txt" />
            </ion-avatar>
            <p>{{entry.name}}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- ========= TABS3 HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->