<ion-content>
  <ion-grid class="body">
    <ion-row>
      <ion-col size="12" class="div-txt">
        <h1 class="title">Sign Up</h1>
        <p class="description">Welcome, sign up it's free!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--FORM LOGIN-->
      <ion-col size="12" class="div-form">
        <form class="form-login">
          <img src="../../assets/imgs/bg.jpg" />
          <ion-item lines="none">
            <ion-input type="email" placeholder="Enter your Email" required
              ><ion-icon name="mail"></ion-icon
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="text" placeholder="Enter your Username" required
              ><ion-icon name="contacts"></ion-icon
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input
              type="password"
              placeholder="Enter your Password"
              class="input-login"
              required
            >
              <ion-icon name="lock"></ion-icon
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            class="btn"
            shape="round"
            [routerLink]="['/tabs/tab1']"
            >Submit</ion-button
          >
          <label class="create-account">You have an account?</label
          ><a href="#" class="create" [routerLink]="['/login']">Sign In</a>
          <div class="spacer"></div>
        </form>
      </ion-col>
      <!-- END FORM LOGIN -->
    </ion-row>
  </ion-grid>
</ion-content>
