<!-- ========= TABS HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->
<ion-content scrollX="true" scrollY="true" color="medium">
  <ion-row class="light">
    <ion-col size="10">
      <div>
        <h1>Single</h1>
      </div>
    </ion-col>
    <ion-col size="2">
      <div>
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-grid *ngFor="let datos of data; index as i;">
    <ion-row class="col-uno">
      <ion-col size="8">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://img.icons8.com/bubbles/50/000000/user.png" />
            </ion-avatar>
            <ion-label>
              <h3>{{ datos[0]['author']}}</h3>
              <p>{{ datos[0]['year']}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" class="btn-swap">
        <ion-button
          expand="full"
          shape="round"
          color="primary"
          class="btn-card"
        >
          Buy
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <img src="../../assets/imgs/book2.png" class="img-avatar" />
            <ion-label>
              <h3 class="title-card">{{ datos[0]['book_name'] }}</h3>
              <p class="txt-card">
                {{ datos[0]['author']}}
              </p>
              <ion-icon
                name="star"
                class="icon-sin"
                color="warning"
                style="padding-left: 10px;"
              ></ion-icon>
              <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
              <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
              <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
              <p style="padding-left: 13px;color:#9b9da5 !important">
                4/5 Goodjob!
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="col-uno">
      <ion-col size="5" style="margin-top: 3%;">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-icon ios="ios-book" md="md-book" class="icon-sin"></ion-icon>
            <ion-label>
              <h3 class="h3-txt-sin">{{ datos[0]['chapters']}}</h3>
              <p class="p-txt-sin">Pages</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="7">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-icon
              ios="ios-locate"
              md="md-locate"
              class="icon-sin"
            ></ion-icon>
            <ion-label>
              <h3 class="h3-txt-sin">Philadelphia, United States</h3>
              <p class="p-txt-sin">3km away</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="12">
        <ion-label>
          <h2>Sypnosis</h2>
          <p class="p-txt-syno">
            {{ datos[0]['sypnosis']}}
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- ========= SINGLE HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->
