/*================================== MEDIA QUERIES, FOR ONLY DESKTOPS ==============================*/

.item-md {
  padding-left: 0px;
}

.div-txt {
  margin-top: 0%;
}

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #001848;
}

ion-input {
  background-color: #fff !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px 0px rgba(245, 242, 242, 1);
}

.description {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 0px;
  color: #001848;
}

.div-form {
  padding-bottom: 0%;
}

.item-ios {
  padding-left: 0px !important;
}

.form-login {
  width: 60%;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  margin: 0px auto;
}

.icon {
  font-size: 60px;
  padding: 10px;
}


.spacer {
  margin-bottom: 0% !important;
}

.create-account {
  text-align: center;
  display: block;
  margin-top: 15px;
  font-family: "Poppins";
  font-size: 15px;
}

.create {
  text-align: center;
  display: block;
  color: #ff8993;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 15px;
  text-decoration: none;
}

/*================================== END MEDIA QUERIES, FOR ONLY DESKTOPS ==============================*/

/*================================== MEDIA QUERIES, FOR ONLY IPHONE, ANDROID, ETC.. ==============================*/
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .div-txt {
    margin-top: 0px;
  }

  ion-icon {
    font-size: 30px;
    color: #001848;
    margin-right: 5%;
  }

  .title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #001848;
  }

  :host {
    ion-input {
      box-shadow: 10px 10px 5px 0px rgba(245, 242, 242, 1);
      --padding-top: 20px;
      --padding-bottom: 20px;
      --placeholder-color: #001848 !important;
      --placeholder-font-style: "Popins";
      --placeholder-font-weight: 600;

    }

    ion-item {
      --padding-start: 0px !important;
    }

    ion-button {
      --background: #001848 !important;
      --background-activated: #fff !important;
      --color-activated: #001848 !important;
      --border-color: #001848 !important;
    }
  }

  .description {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #001848;
  }

  .div-form {
    padding-bottom: 0%;
  }

  .item-ios {
    padding-left: 0px !important;
  }

  .form-login {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .icon {
    font-size: 60px;
    padding: 10px;
  }

  .btn {
    margin-top: 30px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    box-shadow: none;
    width: 100%;
  }

  .spacer {
    margin-bottom: 40% !important;
  }

  .create-account {
    text-align: center;
    display: block;
    margin-top: 15px;
    font-family: "Poppins";
    font-size: 15px;
    color: #001848;
  }

  .create {
    text-align: center;
    display: block;
    color: #001848;
    font-weight: 600;
    font-family: "Poppins";
    font-size: 15px;
    text-decoration: none;
  }
}

/*================================== END MEDIA QUERIES, FOR ONLY IPHONE, ANDROID, ETC ==============================*/

/*================================== MEDIA QUERIES, FOR ONLY TABLETS ==============================*/
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .div-txt {
    margin-top: 340px;
  }

  .body {
    margin-top: -23%;
    background-position: fixed;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .form-login {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin: 0px auto;
  }

  .div-form {
    padding-bottom: 22%;
  }

}

/*================================== END MEDIA QUERIES, FOR ONLY TABLETS ==============================*/